.husky
.config
.publish
.dockerignore
.git
.gitignore
.vs
.vscode
**/*.*proj.user
**/azds.yaml
**/bin
**/charts
**/Dockerfile
**/Dockerfile.develop
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/infra/docker/
**/playground/
**/db/
**/infra/
**/migrations/
**/docs/
**/scripts/
**/deps/
