<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget"
             value="https://api.nuget.org/v3/index.json" />
        <add key="genialinvestimentosdevops"
             value="https://pkgs.dev.azure.com/geniallabs/_packaging/geniallabs/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <genialinvestimentosdevops>
            <add key="Username" value="deploy-adm@brasilplural.onmicrosoft.com" />
            <add key="ClearTextPassword" value="d77dqgejnocvngnrgozxqzsp4u3qrgj3xcjpwzwlasyvfufwzusq" />
        </genialinvestimentosdevops>
    </packageSourceCredentials>
</configuration>
